@model MyApplication1.Models.Pergunta

@{
    ViewBag.Title = "PerguntaCreate";
}

<h2>Criar pergunta</h2>

@using (Html.BeginForm("PerguntaCreate", "Home", FormMethod.Post))
{
    //cria a tag do formulário
    @Html.AntiForgeryToken()

    // previne o ataque CSRF
    @Html.ValidationSummary(true)
   

    <table>
        <tr>
            <td>@Html.LabelFor(a => a.DescricaoPergunta)</td>
            <td>@Html.TextBoxFor(a => a.DescricaoPergunta)</td>
            <td>@Html.ValidationMessageFor(a => a.DescricaoPergunta)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="PerguntaHome" />
            </td>
            <td></td>
        </tr>
    </table>
}


