@model FaculdadeSI.Models.Pergunta

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da pergunta</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal">
     
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdPergunta)
        <div class="form-group">
            @Html.LabelFor(model => model.DescricaoPergunta, "Descrição da pergunta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DescricaoPergunta)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TipoRespostas, "Resposta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoResposta", null, new { multiple = "multiple", @id = "tipoResposta", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PerguntaStatus,"Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
                    @Html.DisplayFor(model => model.PerguntaStatus)
                
            </div>
        </div>

    </div>
}

<div>
    <p>
        <button class="btn" style="width:90px">@Html.ActionLink("Voltar", "Index")</button>
        <button class="btn btn-warning pull-right" style="width:90px">@Html.ActionLink("Editar", "Edit", new { id = Model.IdPergunta })</button>

    </p>
</div>





 