@model FaculdadeSI.Models.Avaliacao

@{
    ViewBag.Title = "Answer";
}

<h2>Responda a avaliação</h2>

<hr />
<h1 style="text-align: center">
    @Html.DisplayFor(model => model.Titulo)
</h1>

<h3 style="text-align: center">
    @Html.DisplayFor(model => model.DescricaoAvaliacao)
</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @foreach (var item in Model.Pergunta)
        {
            <div>
                <h4>
                    @Html.Label(@item.DescricaoPergunta, null, new { id = @item.IdPergunta })
                </h4>
                @foreach (var item2 in item.TipoRespostas)
                {
                    string f = string.Format("{0},{1}", item.IdPergunta.ToString(), item2.IdTipoResposta);
                    string g = @item.DescricaoPergunta;

                    <div class="form-group">
                        <ol>
                            @Html.RadioButton(g, f)
                            @Html.Label(@item2.DescricaoTipoResposta)
                        </ol>
                    </div>
                }
            </div>
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success pull-right" type="submit" value="Save">  Enviar  </button>
            </div>
        </div>

    </div>
}