@model FaculdadeSI.Models.Avaliacao

@{
    ViewBag.Title = "Answer";
}

<h2>Responda a avaliação</h2>

<hr />
<h1 style="text-align: center">
    @Html.DisplayFor(model => model.Titulo)
</h1>

<h3 style="text-align: center">
    @Html.DisplayFor(model => model.DescricaoAvaliacao)
</h3>

@using (Html.BeginForm())
{   
    @Html.AntiForgeryToken()
    
   <div class="form-horizontal">

        @foreach (var item in Model.Pergunta)
        { 
           
            <div class="form-group">
                
                <div class="col-md-10">
                    @Html.Label(@item.DescricaoPergunta, null, new { id = @item.IdPergunta })
                    @Html.DropDownList("pergunta", @item.TipoRespostas.Select(d => new SelectListItem { Text = d.DescricaoTipoResposta, Value = string.Format("{0},{1},{2}",@item.IdPergunta, d.IdTipoResposta.ToString(), Model.IdAvaliacao)}), "Selecione", htmlAttributes: new { @required = "required", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success pull-right" type="submit" value="Save">  Enviar  </button>
            </div>
        </div>

    </div>
}