@model FaculdadeSI.Models.Avaliacao

@{
    ViewBag.Title = "Answer";
}

<h2>Responda a avaliação</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <hr />
        <h1 style="text-align: center">
            @Html.DisplayFor(model => model.Titulo)
        </h1>

        <h3 style="text-align: center">
            @Html.DisplayFor(model => model.DescricaoAvaliacao)
        </h3>
    <div class="form-horizontal">

        @foreach (var item in ViewBag.PerguntasWithRespostas)
        {
            <div class="form-group" required>
                <div class="col-md-10">
                    <h3>@item.DescricaoPergunta </h3>

                    <table>
                        <tr>
                            @foreach (var item2 in item.TipoRespostas)
                        {
                            string t = @item2.DescricaoTipoResposta;
                            string u = @item.DescricaoPergunta;

                                <td width="190">
                                    <label>  @Html.RadioButton(u, t, false, null) @item2.DescricaoTipoResposta </label>
                                </td>

                        }
                        </tr>
                    </table>
                    </div>
                </div>
        }

                <div class="form-group">
                    <div class="col-md-10">
                        <button class="btn btn-success pull-right" type="submit" value="Save">  Enviar  </button>
                    </div>
                </div>
            </div>

}

   


