@model IEnumerable<FaculdadeSI.Models.Avaliacao>

@{
    ViewBag.Title = "Index";
}

<div class="page-header clearfix">
    <h4 class="pull-left"><i class="glyphicon glyphicon-list"></i> Avaliações</h4><a href="~/Avaliacao/Create" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus"></i> <span>Nova avaliação</span></a>
</div>

<table class="table" border="0">
    <tr>
        <th>
            @Html.Label("Título")
            @*@Html.DisplayNameFor(model => model.Titulo)*@
        </th>
        <th>
            @Html.Label("Descrição")
            @*@Html.DisplayNameFor(model => model.DescricaoAvaliacao)*@
        </th>
        @*<th>
            @Html.Label("Data Inicial")
        </th>
        <th>
            @Html.Label("Data Final")
        </th>*@     
        <th>
            @Html.Label("Status")
            @*@Html.DisplayNameFor(model => model.AvaliacaoStatus)*@
        </th>
        <th>
            @Html.Label("Perfil")
            @*@Html.DisplayNameFor(model => model.Perfil.DescricaoPerfil)*@
        </th>
        <th>
            @Html.Label("Criador")
           
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoAvaliacao)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AvaliacaoStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perfil.DescricaoPerfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nome)
        </td>
        <td>

            <div>
                <table class="navbar-right" border="0">
                    <tr>
                        <td>
                            <button class="btn btn-warning pull-right" style="width:90px">@Html.ActionLink("Editar", "Edit", new { id = item.IdAvaliacao })</button>
                        </td>
                        <td>
                            <button class="btn btn-info pull-right" style="width:90px">@Html.ActionLink("Detalhes", "Details", new { id = item.IdAvaliacao })</button>
                        </td>
                    </tr>
                </table>

                @*<button class="btn btn-warning pull-right" style="width:90px">@Html.ActionLink("Editar", "Edit", new { id = item.IdAvaliacao })</button>
                <button class="btn btn-info pull-right" style="width:90px">@Html.ActionLink("Detalhes", "Details", new { id = item.IdAvaliacao })</button>*@
            </div>
                     
        </td>

        
    </tr>
}

</table>
